@import '~susy/sass/susy-prefix';

$susy: (
  'columns': susy-repeat(12),
  'gutters': 0.25,
  'spread': 'narrow',
  'conrainer-spread': 'narrow'
);

@function wmg-span($args...) {
  $susy-result: susy-span($args...);
  @return $susy-result;
}


@mixin wmg-grid-container {
  display: flex;
}

@mixin wmg-grid-item($cols: 12) {
  flex: 1 1 wmg-span($cols);
}
